<h1>Instagram bot</h1>
<ol>
  <li><a href='/bot/user_recent_media'>User Recent Media</a> Calls user_recent_media - Get a list of a user's most recent media</li>
  <li><a href='/bot/user_followed_by'>User Followed-by</a> Calls user_followed_by - Get the list of users this user is followed by</li>
  <li><a href='/bot/user_follows'>User Follows</a> Calls user_follows - Get the list of users this user follows</li>
</ol>